In [71]:
## Python Printing Statements
print("Hello","Hi","World",sep="\t",end="\n $$$$");

Hello	Hi	World
 $$$$

In [73]:
## Python Indentation
a=4;
if 5>=a:
    print("a is less than 5");

a is less than 5

In [75]:
## Program1: Assignment
intVar = 10;
floatVar = 3.14
stringVar = "Hello"
print(intVar,floatVar,stringVar);

10 3.14 Hello

In [77]:
## Program2: Assignment to multiple vars
a=b=c=5;
print(a,b,c);

5 5 5

In [87]:
## User Input
num = int(input ("Enter number :")) 
print(num) 
num1 = float(input("Enter the  floating point Number:")) 
print(num1)
name1 = input("Enter name : ") 
print(name1)

Enter number : 18

18

Enter the  floating point Number: 99.89

99.89

Enter name :  pavan

pavan

In [79]:
## Numeric
a=5;
print("type of",a,type(a));
b=99.89;
print("type of",b,type(b));
c="HeyHello";

print("type of",c,type(c));

type of 5 <class 'int'>
type of 99.89 <class 'float'>
type of HeyHello <class 'str'>

In [81]:
## Sequence Type

str="IamPavan";
print(str);
print(str[1]);
print(str[1:3]);
print(str[1:]);
print(str*4);
print(str+" Kumar");

IamPavan
a
am
amPavan
IamPavanIamPavanIamPavanIamPavan
IamPavan Kumar

In [59]:
## List type

listA=[
    'Pavan',
    "Kumar",
    "Chennupati"
]
### Element Access
print(listA);
### Range of Indices
print(listA[1:2]);
### Change the Value
listA[0]="Ajay";
print(listA);
### Adding Items
listA.append("Pavan");
print(listA);
### Remove Items from the List
listA.remove("Ajay");
print(listA);
### Joining two Lists
listB=[1,2,3];
listC=listA+listB;
print(listC)

['Pavan', 'Kumar', 'Chennupati']
['Kumar']
['Ajay', 'Kumar', 'Chennupati']
['Ajay', 'Kumar', 'Chennupati', 'Pavan']
['Kumar', 'Chennupati', 'Pavan']
['Kumar', 'Chennupati', 'Pavan', 1, 2, 3]

In [97]:
## Tuple
tup1=("C++","Python","Javascript")
print(tup1);
### print first element
print(tup1[2]);
### add a item
tup1.append("Typescript");
print(tup1);

('C++', 'Python', 'Javascript')
Javascript

AttributeError: 'tuple' object has no attribute 'append'

In [117]:
## Dictionary
student={
    "Name":"Pavan Kumar Chennupati",
    "Age":19,
    "Branch":"CSE",
    "Skills":["C++","Python","Javascript"]
};
print(student);
print(type(student));
### Empty Dictionary
emptyDict={};
print(emptyDict);

### Using For Loop
for det in student:
    print(det,":",student[det]);
### Using dict
marks=dict({"Maths":98,"Science":89});
print(marks);

{'Name': 'Pavan Kumar Chennupati', 'Age': 19, 'Branch': 'CSE', 'Skills': ['C++', 'Python', 'Javascript']}
<class 'dict'>
{}
Name : Pavan Kumar Chennupati
Age : 19
Branch : CSE
Skills : ['C++', 'Python', 'Javascript']
{'Maths': 98, 'Science': 89}

In [129]:
## Built-in Functions
print("Sum of array",sum([2,9,8,4]));
print("Length of array",len([2,9,8,4]));
print("Absolute",abs(-99));
print("Rounded",round(89.95959));

import math as mt;
print('Log value',mt.log(89));

Sum of array 23
Length of array 4
Absolute 99
Rounded 90
Log value 4.48863636973214

In [131]:
## Functions
def area(length, breadth):
    return length*breadth;
print("Area of Rectangle",area(7,18));

Area of Rectangle 126

In [ ]:
## numpy